@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// テキストの見栄え
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// ヘッダー
.navbar ul{
  margin-top: 12px;
  margin-bottom: 12px;
}
 #logo {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 270px;
  }
}

// フッター
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  small {
    float: center;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
 }
  #session_remember_me {
  width: auto;
  margin-left: 0;

 }

 .title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
 }

 .plans {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
 }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.travel-detail {
  padding-top:40px;
  padding-bottom:40px;

  img{
    width: 100%;
  }

  h2 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 0;
  }

  table{
    width: 100%;
    tr {
      border-bottom: solid 2px white;
      &:last-child {
        border-bottom: none;
     }
    }

    th {
      position: relative;
      width: 30%;
      background-color: #52c2d0;
      color: white;
      text-align: center;
      padding: 10px 0;
    }

    td {
      width: 50%;
      text-align: center;
      background-color: #eee;
      padding: 20px;
    }
  }
}

.travel-detail_contents_sub{
  margin-top: 30px;
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 20px;
  }
}

.like-btn-unlike {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
.like-btn-like {
  color: grey;
  font-size: 16px;
  margin-top: 10px;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorite-image{
  img{
    width: 100%;
    padding-top: 40px;
  }
}

.title-comment {
  font-weight: bold;
  font-size: 17px;
}

.comments {
  list-style: none;
  padding-left: 0;
  li {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .comment {
      font-size: 16px;
    }
  }
}

.comment-create-at {
  color: grey;
}

li.new_notification > a > span {
  color: red;
}

.notifications {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .gravatar {
    margin-right: 10px;
    margin-top: -5px;
  }
}

.notification-message {
  font-size: 16px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-200 {
  margin-top: 200px;
}

img.gravatar {
  border-radius: 50%;
}

.input-need {
  color: red;
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}

.planner-voice{
  margin-left: 10px;
}

.row-eq-height{
  display: flex;
  flex-wrap: wrap;
}